.nixie-one-regular{
	font-family: "Nixie One", system-ui;
	font-weight: normal;
}
.lato-regular{
	font-family: "Lato", sans-serif;
	font-weight: normal;
}
body {
  background: #077054;
  color: #315f52;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container-content {
  display: flex;
  justify-content: center;
}
.with-white-background {
  background: white;
  width: 75%;
  padding: 15px 35px 100px 35px;
}
.content-header h1 {
  color: #21a51e;
  font-size: 35px;
  text-transform: capitalize;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.start {
  display: flex;
  justify-content: center;
}
.text-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.text-container h3{
	font-size: 25px;
}
.text-content{
	width: 50%;
}
.text1, .text2, .text3, .text4, .text5 {
  margin-bottom: 30px;
  margin-top: 0;
}
.text1 label, .text2 label, .text3 label, .text4 label{
	text-transform: capitalize
}
input, textarea {
  font-size: 25px;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  background: #d1d3d4;
  border: none;
}
input:focus, textarea:focus{
	border: 2px solid black;
}
textarea {
  resize: none;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 75px 0px;
}
button {
  background: #315f52;
  color: #99fa99;
  font-size: 10px;
  text-transform: uppercase;
  padding: 15px 20px;
}
button:hover {
  background: white;
  color: #252525;
  cursor: pointer;
}
