#footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#footer div.content-footer {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
#footer div span {
  color: #99fa99;
  display: block;
  font-size: 26px;
  line-height: 24px;
}
#footer div p {
  color: #b6d8cf;
  font-size: 12px;
  line-height: 30px;
}
#footer div#connect {
  display: flex;
  justify-content: center;
}
#footer div#connect .fa {
  display: flex;
  font-size: 35px;
  margin-right: 20px;
  color: #99fa99;
}
#footer div#connect a {
  display: block;
  text-decoration: none;
}
#footer div#connect a#facebook {
  height: 30px;
  width: 16px;
}
#footer div#connect a#twitter {
  height: 30px;
  margin: 0 0 0 28px;
  width: 37px;
}
#footer div#connect a#googleplus {
  height: 32px;
  margin: 0 0 0 19px;
  width: 32px;
}
#footer div#connect a#pinterest {
  height: 30px;
  margin: 0 0 0 23px;
  width: 30px;
}
