	.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
body {
  background: #077054;
  color: #315f52;
  font-family: 'latoregular';
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container-content{
	display: flex;
	justify-content: center;
}
.with-white-background{
	background: white;
	width: 75%;
	padding-left: 35px;
	padding-bottom: 100px;
	padding-top: 15px;
	padding-right:35px;
}
.content-header h1{
color: #21a51e;
font-size: 35px;
text-transform: capitalize;
}
.text{
	display: flex;
	justify-content: space-between;
}
.text h3{
	font-size: 20px;
	margin-bottom: 0;
	text-transform: capitalize;
}
.text span{
	text-transform: lowercase;
}
.text p{
	margin-top: 0;
}
.content{
	display: flex;
}
.content-text{
	width: 50%;
}
.content-text h3{
	font-size: 23px;
	text-transform: capitalize;
	margin-bottom: 0px;
}
.content-text span{
	text-transform: lowercase;
}
.content-text p{
	/*line-height: 30px;*/
	margin-top: 0px;
	text-transform: capitalize;
}
.content-text a{
	color: #077054;
	text-decoration: none;
}
.content-text a:hover{
	text-decoration: underline;
}
.content-image{
	padding-right: 60px;
}
.p-content{
	width: 50%;
	line-height: 30px;
}